<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened">
        <div class="sidenav-content">
            <h4>Sparql Graph Explorer</h4>
            <!-- <h6>Select endpoint</h6> -->
            <mat-form-field appearance="fill">
                <mat-label>Select endpoint</mat-label>
                <mat-select mat-dialog-list>
                    <mat-option mat-dialog-list *ngFor="let endpoint of endpoints" [value]="endpoint" (click)="onEndpointSelected(endpoint)">
                        {{endpoint}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                (click)="toggleAddEndpointInput()">
                <mat-icon>{{!showAddEndpointInput ? 'add' : 'close'}}</mat-icon>
            </button>
            <!-- <h6 *ngIf="showAddEndpointInput">Add a new endpoint</h6> -->
            <mat-form-field class="example-form-field" *ngIf="showAddEndpointInput">
                <mat-label>Add new endpoint</mat-label>
                <input matInput type="text" [(ngModel)]="newEndpoint">
                <button mat-button *ngIf="newEndpoint" matSuffix mat-icon-button aria-label="Clear"
                    (click)="newEndpoint=''">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-button *ngIf="newEndpoint" matSuffix mat-icon-button aria-label="Search"
                    (click)="addEndpointButton()">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-form-field>
            <!-- <h6>Select language</h6> -->
            <mat-form-field appearance="fill">
                <mat-label>Select language</mat-label>
                <mat-select mat-dialog-list>
                    <mat-option mat-dialog-list *ngFor="let language of languages" [value]="language" (click)="onLanguageSelected(language)">
                        {{language}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <h6>Type concept</h6> -->
            <mat-form-field class="example-form-field">
                <mat-label>Search concept</mat-label>
                <input matInput type="text" [(ngModel)]="value">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Search"
                    (click)="filterConcepts()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <div *ngIf="concepts">
                <h6>Results</h6>
                <mat-selection-list [multiple]="false">
                    <mat-list-option *ngFor="let concept of conceptKeys" [value]="concept"
                        (click)="selectConcept(concept)">
                        {{concept}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
            <div *ngIf="loading">
                <mat-spinner></mat-spinner>
            </div>
            <div lets-start-button *ngIf="conceptSelected">
                <button mat-flat-button color="accent" [disabled]="initGraphButtonDisabled" (click)="startGraph()">Initialize graph</button>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="sidenav-button">
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon>{{opened ? 'chevron_left' : 'chevron_right'}}</mat-icon>
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>