<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened">
        <div class="sidenav-content">
            <h4>Repository: DbPedia</h4>
            <mat-form-field class="example-form-field">
                <mat-label>Concept</mat-label>
                <input matInput type="text" [(ngModel)]="value">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Search"
                    (click)="filterConcepts()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <mat-selection-list [multiple]="false" *ngIf="concepts">
                <mat-list-option *ngFor="let concept of concepts" [value]="concept">
                    {{concept}}
                </mat-list-option>
            </mat-selection-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="sidenav-button">
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon>{{opened ? 'chevron_left' : 'chevron_right'}}</mat-icon>
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>