<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <mat-label>{{relation}}</mat-label>
  <mat-form-field appearance="fill">
    <!-- <mat-label>Clearable input</mat-label> -->
    <input matInput type="text" [(ngModel)]="literal">
    <button mat-button *ngIf="literal" matSuffix mat-icon-button aria-label="Clear" (click)="literal=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.objectUriSelected" cdkFocusInitial (click)="onOkClick()">Ok</button>
</div>
